<div class="container">

    <div class="card o-hidden border-0 shadow-lg my-5">
        <div class="card-body p-0">
            <!-- Nested Row within Card Body -->
            <div class="row">
                <div class="col-lg-7">
                    <div class="p-5">
                        <div class="text-center">
                            <h1 class="h4 text-gray-900 mb-4">Thêm sản phẩm</h1>
                        </div>
                        <form class="user" action="/product/create/creating" method="POST" enctype="multipart/form-data">
                            <div class="form-group">
                                <input type="text" name="productId" class="form-control form-control-user"
                                    placeholder="Mã sản phẩm" required>
                            </div>
                            <div class="form-group">
                                <input type="text" name="productName" class="form-control form-control-user"
                                    placeholder="Tên sản phẩm" required>
                            </div>
                            <div class="form-group row">
                                <div class="col-sm-6">
                                    <input type="number" name="productPrice" class="form-control form-control-user"
                                        id="examplePrice" placeholder="Đơn giá" required>
                                </div>
                                <div class="col-sm-6 mb-3 mb-sm-0">
                                    <input type="number" name="productQuantity" class="form-control form-control-user"
                                        id="exampleQuantity" placeholder="Số lượng" required>
                                </div>
                            </div>
                            <div class="form-group">
                                <input type="date" name="productDate" class="form-control form-control-user"
                                    id="exampleDate" placeholder="Ngày nhập" required>
                            </div>
                            <div class="form-group">
                                <input type="text" name="productDescription" class="form-control form-control-user"
                                    id="exampleDescription" placeholder="Mô tả" required>
                            </div>
                            <div class="col-md-12">
                                <label for="customer-img"><b>Thêm ảnh</b></label><br>
                                <input type="file" name="product" id="customer-img" required>
                            </div>

                            <hr>
                            <input class="btn btn-primary btn-user btn-block" type="submit" value="Thêm sản phẩm">
                            <a href="/product" class="btn btn-google btn-user btn-block">
                                Trở lại
                            </a>
                        </form>
                        <hr>

                    </div>
                </div>
                <div class="col-lg-5 d-none d-lg-block bg-register-image"></div>
            </div>
        </div>
    </div>

</div>