<div class="container-fluid">

    <h1 class="h3 mb-2 text-gray-800">Album ảnh</h1>
    <p class="mb-4">Danh sách album ảnh</p>

    <div class="card shadow mb-4">
        <div class="card-header py-3">
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <div class="row mt-4 mb-3 mr-2">
                    {{#each images}}
                    <div class="col-md-3 mb-4">
                        <a href="https://res.cloudinary.com/employeern/image/upload/{{this}}">
                            <img alt="picture"
                                src="https://res.cloudinary.com/employeern/image/upload/w_300,h_400,c_fill/{{this}}"
                                class="img-fluid">
                        </a>
                    </div>
                    {{/each}}
                </div>
            </div>
        </div>
    </div>
</div>