<div class="container-fluid">

          <!-- 404 Error Text -->
          <div class="text-center">
            <div class="error mx-auto" data-text="404">Lỗi!</div>
            <p class="text-gray-500 mb-0">Không tìm thấy trang...</p>
            <a href="/" style="color: white;">&larr; Trở về</a>
          </div>

        </div>
        <!-- /.container-fluid -->