<div class="container-fluid">

          <!-- 404 Error Text -->
          <div class="text-center">
            <div class="error mx-auto" data-text="404">Lỗi!</div>
            <p class="text-gray-500 mb-0">Tên đăng nhập hoặc mật khẩu không chính xác...</p>
            <a href="/login" style="color: white;">&larr; Trở về</a>
          </div>

        </div>
        <!-- /.container-fluid -->